<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="prod-obs,dev-obs,test-obs">
        <appender name="OTEL"
                  class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"/>
        <root level="INFO">
            <appender-ref ref="OTEL"/>
        </root>
    </springProfile>
</configuration>
